<a href="https://colab.research.google.com/github/YashKamathe/workshopds/blob/main/02_Python_Crash_Course_Exercises_sol.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

Mr. Yogesh P Murumkar (Mob. 9657080906)

https://www.youtube.com/c/yogeshmurumkar
___
# Python Course Exercises 1

This is an optional exercise to test your understanding of Python Basics. If you find this extremely challenging, then you probably are not ready for the rest of this course yet and don't have enough programming experience to continue. I would suggest you take another course more geared towards complete beginners.

## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
print(7**4)

2401

** Split this string:**

    s = "Hi there Yogesh!"
    
**into a list. **

In [48]:
s = "Hi there Yogesh!"
print(s.split())

['Hi', 'there', 'Yogesh!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet = "Earth"
diameter = 12742

In [6]:
print('The diameter of {} is {} kilometer'.format(planet,diameter))

The diameter of Earth is 12742 kilometer

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [10]:
print(lst[3][1][2][0])

hello

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [49]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [12]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [14]:
# Tuple is immutable while list is mutable
# Tuple
#t = (1, 2, 3)
# t[0] = 10  # This will cause an error

# List
#l = [1, 2, 3]
#l[0] = 10  # This works fine

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [20]:
email="user@domain.com"
def fun1(email):
    print(email.split('@')[-1])

In [22]:
fun1(email)

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [50]:
def findDog(sentence):
    word=sentence.split()
    for v in word :
      return "dog" in word

In [51]:
findDog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [52]:
def countDog(sentence):
    count=0
    word=sentence.split()
    for v in word :
      if v == 'dog':
            count += 1
    return count

In [53]:
countDog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

    seq = ['soup','dog','salad','cat','great']

**should be filtered down to:**

    ['soup','salad']

In [54]:
seq = ['soup','dog','salad','cat','great']

In [57]:
a = lambda v:v.startswith('s')
list(filter(a,seq))

['soup', 'salad']

### Final Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket".
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all
  cases. **

In [58]:
def ticket(speed,bday):
  if speed <=60 or bday and speed<=65:
      return 'no ticket'
  elif speed >60 and speed<80 or bday and speed>65 and speed<85:
      return 'small ticket'
  elif speed >=80 or bday and speed>=85:
      return 'big ticket'

In [60]:
ticket(81,True)

'small ticket'

In [62]:
ticket(81,False)

'big ticket'

In [ ]:
Question
Q1
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,-56dssd78-->-5678

In [63]:
inp = input("Enter a input value")
result = ""

if inp[0] == '-':
  result += inp[0]

for ele in inp[1:]:
  if '0' <= ele <= '9':
    result += ele

print(result)

Enter a input value-113j
-113

In [ ]:
Q2
WAP to check whether a number is palindrome or not on following conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [66]:
def is_palindrome(n):
    return str(n) == str(n)[::-1]

def make_palindrome(n):
    while not is_palindrome(n):
        reverse_n = int(str(n)[::-1])
        n = n + reverse_n
        print(f"Current sum: {n}")  # To track each step
    return n

num = int(input("Enter a number: "))
palindrome_num = make_palindrome(num)
print(f"Palindrome number: {palindrome_num}")

Enter a number: 45665
Current sum: 102319
Current sum: 1015520
Current sum: 1270621
Current sum: 2531342
Current sum: 4962694
Palindrome number: 4962694

In [ ]:
Write a python function to find and display the five
digit number in which the first digit is two more than
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [67]:
def find_five_digit():
  for a in range(1, 10):
    for b in range(0, 10):
      for c in range(0, 10):
        for d in range(0, 10):
          for e in range(0, 10):
            if a == b + 2 and b == c + 2 and d == c - 2 and e == d + 2 and c + d + e == a and a + b + c + d + e == 19:
              print(str(a) + str(b) + str(c) + str(d) + str(e))
              return

find_five_digit()

75313

# Great job!